.special-box {
  display: block;
  margin-right: 1em;
  margin-bottom: 10px;
  border: 1px solid red;
  height: auto;

  /* (full screen / num cards) -  ((margin * (numcards - 1 )) / numcards) */
  width: calc(100% / 4 - 3em / 4 - 2px);
}

.special-box img {
  width: 100%;
}

.special-box h2,
.special-box h3 {
  width: 100%;
  text-align: center;
}

.special-box:nth-child(4n) {
  margin-right: 0;
}

.delete-button {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid black;
  transition-duration: 0.4s;
}

.delete-button:hover {
  background-color: red;
  color: white;
}

.information-button {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid black;
  transition-duration: 0.4s;
}

.information-button:hover {
  background-color: royalblue;
  color: white;
}

.show-delete-button {
  margin: auto;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.show-info-button {
  margin: auto;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 992px) {
  .special-box {
    margin-right: 8px;
    height: auto;
    /* (full screen / num cards) -  ((margin * (numcards - 1 )) / numcards) */
    width: calc(100% / 2 - 1em / 2 - 2px);
  }

  .special-box:nth-child(2n) {
    margin-right: 0;
  }

  .special-box h3 {
    display: none;
  }

  .special-box h2 {
    font-size: small;
  }

  .delete-button,
  .information-button {
    font-size: x-small;
  }
}
