.delete-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal-content {
  height: 150px;
  width: 500px;
  background-color: #fff;
}

.delete-modal-header,
.delete-modal-footer {
  position: relative;
  padding: 10px;
}

.delete-modal-header {
  text-align: center;
}

.delete-modal-title {
  margin: 0;
}

.delete-modal-body {
  padding: 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.delete-left-button {
  float: left;
  margin-bottom: 10px;
}

.delete-right-button {
  float: right;
  margin-bottom: 10px;
}

.delete-confirm-button,
.delete-cancel-button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid black;
  width: 50px;
  transition-duration: 0.4s;
}

.delete-confirm-button:hover {
  background-color: #4caf50;
  color: white;
}

.delete-cancel-button:hover {
  background-color: red;
  color: white;
}

@media (max-width: 992px) {
  .delete-modal-content {
    height: 170px;
    width: 500px;
  }
}
