.main-header {
  text-align: center;
}

body {
  background: linear-gradient(to left top, yellow, rgb(130, 133, 0)) fixed;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.main-center {
  text-align: center;
  margin-bottom: 10px;
}
