.special-box {
  display: block;
  margin-right: 1em;
  margin-bottom: 10px;
  border: 1px solid red;
  height: 550px;

  /* (full screen / num cards) -  ((margin * (numcards - 1 )) / numcards) */
  width: calc(100% / 4 - 3em / 4 - 2px);
}

.special-box img {
  width: 100%;
}

.special-box h2,
.special-box h3 {
  width: 100%;
  text-align: center;
}

.special-box:nth-child(4n) {
  margin-right: 0;
}

@media (max-width: 992px) {
  .special-box {
    /* (full screen / num cards) -  ((margin * (numcards - 1 )) / numcards) */
    width: calc(100% / 2 - 1em / 2 - 2px);
  }

  .special-box:nth-child(2n) {
    margin-right: 0;
  }
}

.delete-button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid black;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  transition-duration: 0.4s;
}

.delete-button:hover {
  background-color: red;
  color: white;
}

.information-button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid black;
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  transition-duration: 0.4s;
}

.information-button:hover {
  background-color: royalblue;
  color: white;
}

.left-button {
  float: left;
  margin-left: 10px;
}

.right-button {
  float: right;
  margin-right: 10px;
}
