.special-box {
    display: block;
    margin-right: 1em;
    margin-bottom: 5px;
    border: 1px solid red;
    text-align: center;
  
    /* (full screen / num cards) -  ((margin * (numcards - 1 )) / numcards) */
    width: calc(100%/4 - 3em/4 - 2px);
  }
  
  .special-box img {
    width: 100%;
  }
  
  .special-box h1, .special-box h2, .special-box h3 {
    width: 100%;
  }
  
  .special-box:nth-child(4n) {
    margin-right: 0;
  }
  
  @media (max-width: 992px) {
    .special-box {
      /* (full screen / num cards) -  ((margin * (numcards - 1 )) / numcards) */
      width: calc(100%/2 - 1em/2 - 2px);
    }
    
    .special-box:nth-child(2n) {
      margin-right: 0;
    }
  }
  
  h1 {
    text-align: center;
  }